<div class="container">
  <div class="row">
    <div class="col-auto">
      <h2>{{name}}'s Dashboard</h2>
    </div>
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary"><a class ="nav-link active text-light" href="/createPost">Create New Blog Post</a></button>
  </div>
</div>

<br /><br />

{{#if posts.length}}
  <div class="container">
    <h3>Created Posts:</h3>
    <div class="row">
      {{#each posts as |posts|}}
        <div class="col">
          <div id="blog-post" class="card m-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">{{posts.title}}</h5>
              <h6 class="card-subtitle mb-2 text-muted">Posted on
                {{format_date posts.date_created}}</h6>
              <button class="btn btn-primary"><a href="/post/{{posts.id}}" class="custom-link">View Post</a></button>
              <button class="btn btn-danger" data-id="{{posts.id}}">Delete Post</button>
            </div>
          </div>
        </div>
      {{/each}}
    </div>
  </div>

  <script src="/js/dashboard.js"></script>
{{/if}}
