<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.name}} on {{date_created}}</p>

{{#if this.comment.length}}
  <div class="col-md-6">
    <h3>Comments:</h3>

    {{#each comment as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <p>{{comment.content}}</p>
        <p>{{comment.user_id}}</p>
        <p>{{comment.created_date}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <p>
    <form>
      <div class="form-group">
        <label for="comment-content">Leave a comment:</label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </form>
  </div>
  </p>
</div>
{{!-- <script src="./js/comment.js"></script> --}}